html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

body,
html {
	height: 100%;
}

body {
	font-family: Cambria, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.5em;
	background: url(../img/bg.png) repeat-x bottom center;
}

h1 {
	font-weight: bolder;
	font-size: 2em;
	margin-bottom: 50px;
}

h2 {
	font-weight: bold;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: #188f7c;
	display: block;
}

a.active {
	color: #c63d3e;
}

p {
	margin-top: 50px;
	padding: 10px;
	font-size: 0.7em;
	line-height: 0.9em;
}

	p > a {
		display: inline;
	}

#selection {
	position: fixed;
	top: 51px;
	height: 403px;
	width: 200px;
	padding-right: 50px;
	border-right: dashed 1px #999;
	float: left;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
}

#viz {
	margin: 50px 0;
	display: inline-block;
	padding-left: 200px;
}

